@media (min-width: 768px) {
    #logo-img {
        display: inline-block; /* Show image on medium and larger screens */
    }
}
body {
    font-size: 48px;
    color: #c47d7d;
    background-color: beige;
    font-family: 'Lato', sans-serif ;
}
#header-nav{
    background-color: #8fe0fb;
    
    
    border-radius: 0;
    border: 0;
    
}
#logo-img {
    background: url("/restaurant/img/Temple-of-Heaven.png") no-repeat;
    background-size: contain;
    float: left;
    height: 200px;          
    width: 200px;            
    margin: 10px 15px 10px 0;
        
}
.navbar-brand h1{
    font-family: "Lato", sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
  