*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.stylenav .links a {
    color: black;
    text-decoration: none;
    margin: 15px;
    float: right;
    font-size: 30px;
}
.stylenav .logo a{
    color: black;
    float: left;
    margin:15px;
    font-size: 30px;
}
.stylenav .logo a:hover a:active {
    color: red;
    
}
section.intro{
    clear: both;
    font-family: "Inter", sans-serif;
    margin: 15px;
    font-size: 2em;
    color:black;

}

section .name {
    /* font-size: 3em; */
    font-weight: bold;
}
.row{
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;

}
.row > div {
    border: 3px solid green;
    background-color: bisque;
}
